@import '../workflow-shared';

:host ::ng-deep {

    .djs-connection,
    .djs-shape {
        cursor: pointer !important;

        * {
            cursor: pointer !important;
        }
    }

    .djs-shape {
        .djs-visual> :nth-child(1) {
            transition: stroke-width 0.2s ease, stroke 0.2s ease;
        }

        &:hover .djs-visual> :nth-child(1),
        &.hover .djs-visual> :nth-child(1) {
            stroke-width: 3px !important;
        }
    }
}