<div class="page-wrap">
  <div class="page-header">
    <div class="header-left">
      <h1 class="page-title">{{ title }}</h1>
      <p class="page-subtitle">{{ subtitle }}</p>
    </div>
    <div class="header-actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>

  <div class="stats-container">
    <ng-content select="[stats]"></ng-content>
  </div>

  <div class="table-card">
    <div class="table-toolbar">
      <div class="toolbar-left">
        <div class="search-wrap">
          <mat-icon class="search-icon">search</mat-icon>
          <input
            class="search-input"
            [placeholder]="searchPlaceholder"
            (input)="onSearch($event)" />
        </div>
      </div>

      <div class="toolbar-right">
        <ng-content select="[filters]"></ng-content>
      </div>
    </div>

    <div class="state-row" *ngIf="loading">Loading...</div>

    <table mat-table [dataSource]="dataSource" class="v-data-table">
      <ng-content select="[columns]"></ng-content>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="v-row"></tr>
    </table>

    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pageChanged.emit($event)">
    </mat-paginator>
  </div>
</div>
