:host ::ng-deep {
  .bjs-powered-by {
    display: none !important;
  }


  .djs-connection .djs-visual {
    path {
      stroke: #7e7e7e !important;
      stroke-width: 2px !important;
    }

  }

  .highlight-orange .djs-visual {
    path {
      stroke: #000000 !important;
      stroke-width: 2px !important;
    }
  }
}

