.v-active-link {
  background-color: var(--v-surface-highest) !important;
  color: var(--color-veritas-dark);
  font-weight: 600;

  mat-icon {
    color: var(--color-veritas-dark);
    opacity: 1;
  }
}