<div class="nav-container">
  <mat-card>
    <mat-card-content>
      <h3>Role-Based Access Control Demo</h3>
      <p>This text is visible to everyone.</p>

      <div *appHasRole="['ADMINISTRATOR']">
        <strong>Administrator Only:</strong> You can see this because you have the ADMINISTRATOR role.
      </div>


      <div *appHasRole="['FINANCE_OFFICER']">
        <strong>Finance Officer Only:</strong> You can see this because you have the FINANCE_OFFICER role.
      </div>

      <div *appHasRole="['PROCUREMENT_OFFICER']">
        <strong>Procurement Officer Only:</strong> You can see this because you have the PROCUREMENT_OFFICER role.
      </div>

      <div *appHasRole="['REQUESTER']">
        <strong>Requester Only:</strong> You can see this because you have the REQUESTER role.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-nav-list>
    <a mat-list-item routerLink="/projects" routerLinkActive="active">
      <mat-icon matListItemIcon>folder</mat-icon>
      <span matListItemTitle>Projects</span>
    </a>

    <a mat-list-item routerLink="/vendors/create" routerLinkActive="active">
      <mat-icon matListItemIcon>business</mat-icon>
      <span matListItemTitle>Create Vendor</span>
    </a>

    <mat-list-item (click)="onLogout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Logout</span>
    </mat-list-item>
  </mat-nav-list>
</div>